/* Universal selector  
* {
  border: 1px solid green;
  border-radius: 5px;

  CSS reset
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}*/

/* Element selector  
h1 {
  color: orangered;
}
*/

/* Class selector
.score {
  color: blue;
} */

/* id selector
#toc {
  color: gray;
} */

/* Attribute selector */
/* tag_name/cl/id_name[attribute_name="value"] */
/* a[href^="#"] {
  color: red;
}

a[href] {
  color: darkblue;
}

*/

/* h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Merriweather;
} */

/* 

" " -> Desendant child - Ex: all the P tags in the whole block [Descendant = “all kids, grandkids, great-grandkids…”]

>   -> Only direct children Ex: Only the P which are the direct children [Child = “only my kids”]

Adjacent sibling (+) → immediately after

General sibling (~) → all following siblings


*/

.box {
  width: 200px;
  height: 200px;
  border: 2px solid red;
  /* border-radius: 0 50% 50% 50%; */

  margin: 0 auto;

  font-size: 24px;
  font-weight: 800;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  /* background-color: cadetblue; */
  /* color: #fff; */

  /* box-shadow: 10px 10px 20px 10px rgba(0, 0, 0, 0.2); */
  /* overflow: scroll; /* to add scroll bar if content exceeds the box size */
  /* overflow: hidden; /* to hide the content if it exceeds the box size */
  /* overflow: auto;  to add scroll bar only when content exceeds the box size */
  overflow-y: scroll;
}
