body {
  font-family: "Cormorant", serif;
  font-weight: 300;
}

.navbar {
  background-color: #fff;
  padding: 20px 74px;

  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1001;
}

main {
  margin: 0 100px;
  padding-top: 100px;
}

h1 {
  display: inline-block;
  font-weight: 300;
  margin: 0 32px 0 0;
}

.links {
  display: inline-block;
}

.links ul {
  padding: 0;
}

.links ul li {
  display: inline-block;
}

a.active {
  border-bottom: 1px solid black;
}

.links a:link {
  text-decoration: none;
  color: black;
  font-size: 24px;
  margin: 0 8px;
}

.gallery {
  padding: 16px;
}

.card {
  display: inline-block;
  width: 49.75%;
  box-sizing: border-box;
  padding: 16px;
}

.card img {
  height: 500px;
  width: 100%;
  object-fit: cover;
}

.card img:hover {
  opacity: 0.8;
}

.card h2 {
  font-weight: 300;
  margin: 8px 0 16px 0;
}

.about {
  margin: 100px 0 30px 100px;
  width: 45%;
  min-width: 600px;
}

.about h3 {
  font-size: 40px;
  font-weight: 300;
}

.contact {
  margin-top: 100px;
}

.contact p {
  margin: 0;
  font-size: 20px;
}

.cta {
  display: inline;
  padding-bottom: 4px;
  border-bottom: 2px solid black;
}
